In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

raw_data = pd.read_csv("death-cause-reason-by-country.csv")
raw_data.head()

,Country Name,Covid-19 Deaths,Cardiovascular diseases,Respiratory diseases,Kidney diseases,Neonatal disorders,Meningitis,Malaria,Interpersonal violence,HIV/AIDS,...,Neoplasms,"Fire, heat",Drowning,Drug use disorders,Road injuries,Environmental heat and cold exposure,Self-harm,Conflict and terrorism,Diabetes,Unnamed: 32
0,Afghanistan,2201.0,61995,7082,5637,23701,1563,530,5015,318,...,21247,485,1687,406,8254,59,1613,24295,4817,NaN
1,Albania,1181.0,12904,815,329,161,13,0,57,2,...,4705,18,36,29,243,4,152,0,175,NaN
2,Algeria,2762.0,97931,7528,8201,8756,292,0,459,264,...,23816,782,526,526,11051,40,1515,13,5328,NaN
3,Andorra,84.0,169,39,16,0,0,0,0,3,...,230,0,0,0,8,0,8,0,9,NaN
4,Angola,33.0,25724,3934,2464,18189,2520,10784,974,16802,...,12791,513,793,80,9253,114,1928,16,4033,NaN

In [5]:
causes = list(raw_data.columns)
causes = causes[1:-2]
print(causes)

['Covid-19 Deaths', 'Cardiovascular diseases', 'Respiratory diseases ', 'Kidney diseases', 'Neonatal disorders ', 'Meningitis ', 'Malaria ', 'Interpersonal violence', 'HIV/AIDS', 'Tuberculosis', 'Maternal disorders', 'Lower respiratory infections', 'Alcohol use disorders', 'Diarrheal diseases', 'Poisoning', 'Nutritional deficiencies', " Alzheimer's disease", "Parkinson's disease", ' Acute hepatitis', 'Digestive diseases', ' Cirrhosis and other chronic liver diseases', 'Protein-energy malnutrition', 'Neoplasms', 'Fire, heat', 'Drowning', 'Drug use disorders', 'Road injuries', 'Environmental heat and cold exposure', 'Self-harm', ' Conflict and terrorism']