In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

raw_data = pd.read_csv("death-cause-reason-by-country.csv")
raw_data

,Country Name,Covid-19 Deaths,Cardiovascular diseases,Respiratory diseases,Kidney diseases,Neonatal disorders,Meningitis,Malaria,Interpersonal violence,HIV/AIDS,...,Neoplasms,"Fire, heat",Drowning,Drug use disorders,Road injuries,Environmental heat and cold exposure,Self-harm,Conflict and terrorism,Diabetes,Unnamed: 32
0,Afghanistan,2201.0,61995,7082,5637,23701,1563,530,5015,318,...,21247,485,1687,406,8254,59,1613,24295,4817,NaN
1,Albania,1181.0,12904,815,329,161,13,0,57,2,...,4705,18,36,29,243,4,152,0,175,NaN
2,Algeria,2762.0,97931,7528,8201,8756,292,0,459,264,...,23816,782,526,526,11051,40,1515,13,5328,NaN
3,Andorra,84.0,169,39,16,0,0,0,0,3,...,230,0,0,0,8,0,8,0,9,NaN
4,Angola,33.0,25724,3934,2464,18189,2520,10784,974,16802,...,12791,513,793,80,9253,114,1928,16,4033,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
186,Vietnam,35.0,240161,36229,21485,6468,747,59,1267,6399,...,112564,608,6098,1176,24153,82,8114,0,29391,NaN
187,Wales,512.0,10519,2892,426,57,14,0,18,12,...,10569,20,15,173,130,8,310,0,326,NaN
188,Yemen,610.0,55752,5738,2676,18982,479,5089,820,347,...,12681,839,843,261,11717,43,1560,13402,1815,NaN
189,Zambia,390.0,18157,2388,1931,9851,2065,4777,1616,22540,...,9789,326,359,60,2285,84,1398,1,2573,NaN
190,Zimbabwe,369.0,17810,2891,2292,8609,1450,2068,1434,20722,...,12353,662,827,127,2554,37,2403,11,3460,NaN

In [3]:
causes = list(raw_data.columns) # list all the columns
causes = causes[2:-1] # fetch all columns from index 2 until the n-1.
print("The causes are:" + str(causes))

The causes are:['Cardiovascular diseases', 'Respiratory diseases ', 'Kidney diseases', 'Neonatal disorders ', 'Meningitis ', 'Malaria ', 'Interpersonal violence', 'HIV/AIDS', 'Tuberculosis', 'Maternal disorders', 'Lower respiratory infections', 'Alcohol use disorders', 'Diarrheal diseases', 'Poisoning', 'Nutritional deficiencies', " Alzheimer's disease", "Parkinson's disease", ' Acute hepatitis', 'Digestive diseases', ' Cirrhosis and other chronic liver diseases', 'Protein-energy malnutrition', 'Neoplasms', 'Fire, heat', 'Drowning', 'Drug use disorders', 'Road injuries', 'Environmental heat and cold exposure', 'Self-harm', ' Conflict and terrorism', 'Diabetes ']